/* General styling */
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #152136;
}

h1, h2, h3, p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin: 5px;
  text-align: center;
}

li {
  font-family: "Lato", sans-serif;
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  color: #ca895f;
}

span {
  color: #ca895f;
}

.other_image {
  width: 30%; 
  height: auto; /* Maintain aspect ratio */
  margin: 10px; 
  border-radius: 20px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; 
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; 
  z-index: 99; /* Make sure it does not overlap */
  border: none; 
  outline: none;
  background-color: #ca895f; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.skills-head, .projects-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav Bar */
.topnav {
  overflow: hidden;
  background-color: #152136;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#myLinks {
  display: none;
  width: 100%;
  flex-direction: column;
}

.topnav a {
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: flex;
  justify-content: center; /* Center the lines horizontally */
  align-items: center; /* Center the lines vertically */
  position: relative;
  right: 0;
  top: 0;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 7px;
  margin-right: 5px;
}

.topnav a.icon::before,
.topnav a.icon::after {
  content: "";
  background-color: white; /* Line color */
  display: block;
  width: 20px; /* width of lines */
  height: 2px; /* Line thickness */
  position: absolute;
}

.topnav a.icon::before {
  top: 8px; /* Adjust distance from the center */
}

.topnav a.icon::after {
  bottom: 8px; /* Adjust distance from the center */
}

/* middle line */
.topnav a.icon {
  content: ""; 
  height: 2px; /* Line thickness */
  width: 5px; /* Adjust width of line */
  position: absolute;
  top: 14px; /* Adjust to vertically center the line */
}

#myLinks, .topnav .home {
  transition: all 0.3s ease; 
}

.home {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-align: center;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px 0;
  text-align: center;
}

.zion { 
  margin: 20px;
  width: 100%; /* Use 100% for responsive images */
  max-width: 600px; /* Optional max width */
  border-radius: 20px;
  border: 5px solid;
}

.hero p {
  width: 100%; /* Use 100% for responsive text */
}

/* About */
#about {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about p {
  margin: 25px 10px;

}

#about div {
  color: white;
  margin: 20px;
  width: 100%; /* Use 100% for responsive layout */
  max-width: 800px; /* Optional max width */
  justify-content: center;
  align-items: center;
}

/* Skills */
#skills {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

/* Skills & Projects */
.skills-head h2, .projects-head h2 {
  flex-grow: 1;
  padding: 50px 0;
  padding-left: 0;
}

#skills li {
  color: #ffffff;
}

/* Projects */
#projects {
  padding: 20px 0;
  position: relative;
}

#projects p {
  width: auto;
}

#projects h2 {
  color: #ca895f;
}

.projects-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable snap scrolling */
  padding: 20px;
  gap: 20px;
  margin-left:65px;
  margin-right: 65px;
}

.individual-project {
  flex: 0 0 calc(33.33% - 20px); /* Each project takes up 1/3 of the container width minus gap */
  scroll-snap-align: start; /* Snap alignment */
  border: 5px solid white;
  color: white;
  text-align: center;
  margin: 15px;
  padding: 10px;
  height: 80%; 
  border-radius: 25px;
}

.individual-project:hover {
  transform: scale(1.1);
  z-index: 1;
  margin: 0 calc(10px);
}

.projects-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Resume */
#resume {
  padding: 40px 0;
}

/* Contact */
#contact {
  padding: 40px 0;
  text-align: center;
}

.contact {
  display: flex;
  color: #ffffff;
  justify-content: center;
}

.main-contact {
  display: flex;
  flex-direction: column;
}

.main-contact ul {
  list-style-type: square; 
  text-align: left;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .hero, #about, #skills, #projects, #resume, #contact {
      margin: 20px; /* Reduce margin on smaller screens */
  }

  p, li {
      font-size: 1rem; /* Smaller font size */
  }

  .individual-project {
      flex: 0 0 100%; /* Full width on smaller screens */
      margin-right: 0; /* Remove right margin */
  }
  

  .zion {
      width: 80%; /* Full width for images */
  }
}